.polls__container-question {
  background-color: var(--main-lg-color);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content 1fr;
  padding: 2.5rem;
  border-bottom: 0.1rem solid var(--lg-color);
}

.questions__container {
  max-width: 90rem;
  margin: 0 auto;
}

.polls__container-question-gap {
  /* margin-top: 1rem; */
}

.polls__question-choices {
  display: flex;
  align-items: center;
}

.container-center {
  margin-top: 0.5rem;
  text-align: center;
}

.polls__counter--question {
  margin: 0;
  background-color: var(--grey-color);
}

.polls__question {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.polls__question--colstart2 {
  grid-column-start: 2;
}

.polls__questions {
  min-height: 4vh;
}

.polls-label {
  grid-column: 1;
}

.polls-label--test {
  display: flex;
}

.polls__questions-mt {
  margin-top: 1.5rem;
  width: 80%;
}

.polls__answers-yesNo {
  display: flex;
}

ul {
  list-style: none;
}

.polls__answers {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 3rem;
  min-height: 2vh;
}

.polls-radio-ml {
  margin-left: 1rem;
}

.polls-date {
  display: flex;
}

.poll-items {
  grid-row-start: 2;
  grid-column-start: 1;
  font-weight: 400;
}

.polls-text {
  grid-column: 2;
  grid-row: 1;
}

.buttons__container-icons {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 1rem;
  justify-content: space-around;
  justify-self: flex-end;
  grid-column: 2;
  grid-row: 1;
}
