.polls-container-mh {
  min-height: 20vh !important;
}

.polls__questions {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 5vh;
}

.polls__questions-mt {
  margin-top: 4.6rem;
}

.polls__answers-yesNo {
  width: 100%;
  margin-left: 3rem;
  display: flex;
}

.polls__answers {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  min-height: 5vh;
}

.polls-radio-ml {
  margin-left: 1rem;
}

.polls-text {
  margin-left: 3rem;
}

.btn-icons {
  display: flex;
  justify-content: space-between;
  width: 5rem;
  height: 4rem;
  position: absolute;
  right: 1rem;
  top: 2.5rem;
}
