.polls__results-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 50vh;
  width: 50%;
  padding: 15px;
  margin: 0 auto;
  background-color: #fbfbfb;
  border-radius: 5px;
  margin-top: 5px;
}

.polls__results {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

.polls-text-container {
  width: 80%;
  height: 40px;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding-left: 5px;
  padding-bottom: 5px;
}
