.nav {
  width: 100%;
  background: #393939;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-elements {
  width: 100%;
}

.nav-item {
  margin-right: 3rem;
}

.nav-el:link,
.nav-el:visited {
  font-size: 1.6rem;
  color: #ffffff;
}

.google-button {
  height: 4rem !important;
  margin-left: 3rem !important;
  font-size: 1.4rem !important;
}
