.nav {
  width: 100%;
  padding: 0.3rem;
  background: #393939;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  list-style: none;
}

.nav-el:link,
.nav-el:visited {
  color: #ffffff;
  text-decoration: none;
  margin-right: 0.5rem;
}

.google-plus-icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1rem;
  fill: var(--white-bg-color);
}

.google-button {
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  margin-left: 1rem;
  border: none;
  color: var(--white-bg-color);
  background: var(--google-plus-red);
  display: flex;
  align-items: center;
}

.google-button:focus {
  outline: none;
}
