.polls-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 30vh;
  width: 40%;
  padding: 1rem;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  background-color: var(--main-lg-color);
  position: relative;
}

.polls-header {
  color: #12223b;
  font-size: 2rem;
  font-weight: bold;
}

.polls__header-counter {
  position: absolute;
  top: 5.5rem;
  left: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 19, 19);
  color: #fbfbfb;
}

.polls-form {
  margin-left: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.polls__input-container {
  width: 100%;
  display: flex;
  min-height: 5vh;
  margin: 1rem 0 1rem 0;
}

.polls__input-container-mt {
  margin-top: 1.8rem !important;
}

.polls-label {
  font-weight: bold;
}

.polls-input {
  width: 80%;
  margin-left: 3rem;
  height: 3.3rem;
  border-radius: 0.3rem;
  text-indent: 0.8rem;
  border: none;
  background-color: var(--white-bg-color);
  box-shadow: 0px 0px 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

.polls__radio-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 3rem;
  height: 6rem;
  width: 80%;
}

.polls-radio {
  margin: 0rem 1rem 0 0;
}

.radio__label-container {
  display: flex;
  align-items: center;
}

.polls__button-container {
  width: 80%;
  display: flex;
  margin: 1rem 0 0 3rem;
}

.add-poll {
  background: var(--green-linear-gradient);
  color: var(--lg-color);
  font-weight: 700;
  padding: 1rem 1.2rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
  outline: none;
}

.edit-poll {
  background-color: #32cd32 !important;
}

.cancel-poll {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #82bfe0 !important;
  font-weight: 400 !important;
}

.cancel-poll:hover {
  color: #619dbd !important;
}

.add-poll:focus {
  outline: none;
}

.polls-list-container {
  margin-left: 1.5rem;
}

.polls-list {
  list-style: none;
}

.polls-questions {
  min-height: 20vh !important;
}
