.polls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 80vh;
  width: 40%;
  padding: 20px;
  margin: 3px auto;
  background-color: var(--main-lg-color);
  border-radius: 5px;
}

.polls-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 60vh;
  width: 100%;
  padding: 20px;
  margin: 5px auto;
  background-color: var(--main-lg-color);
  border-radius: 5px;
}

.polls-container-edit {
  margin: 5px auto !important;
}

.polls-header-counter {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(214, 19, 19);
  color: #fbfbfb;
  margin-right: 15px;
}

.polls-header {
  color: #12223b;
  font-size: 25px;
  letter-spacing: -1px;
}

.polls-form {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.polls__inputs-container {
  margin: 20px;
  width: 100%;
  display: flex;
}

.polls-label {
  margin-right: 15px;
  display: flex;
}

.polls-input {
  width: 80%;
  height: 33px;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  outline: none;
  text-indent: 8px;
}

.polls__radio-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.polls-radio {
  margin-right: 30px;
}

.radio__label-container {
  display: flex;
  align-items: center;
}

.button-container {
  width: 80%;
  min-height: 20vh;
  display: flex;
  align-items: flex-end;
  padding: 12px;
}

.add-poll {
  background-color: #12223b;
  color: #ffffff;
  font-weight: 700;
  padding: 15px 20px;
  margin-right: 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  outline: none;
}

.edit-poll {
  background-color: #32cd32 !important;
}

.cancel-poll {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #82bfe0 !important;
  font-weight: 400 !important;
}

.cancel-poll:hover {
  color: #619dbd !important;
}

.add-poll:focus {
  outline: none;
}

.polls-list-container {
  margin-left: 15px;
}

.polls-list {
  list-style: none;
}

.polls-questions {
  min-height: 20vh !important;
}
